{% for k in data['records'] %}
    <table>
        {%if data['parameters']['jump_page'] %}
        <thead>
        <tr>
            <th>{{ _('Move Date')}}</th>
            <th>{{ _('Account')}}</th>
            <th colspan="2">{{ _('NIF')}}</th>
            <th>{{ _('Invoice')}}</th>
            <th>{{ _('Date')}}</th>
            <th>{{ _('Base')}}</th>
            <th colspan="2">{{ _('Tax')}}</th>
            <th>{{ _('Base + Tax')}}</th>
            <th>{{ _('Total Invoice')}}</th>
        </tr>
        </thead>
        {% else %}
                <thead>
                <tr>
                    <th>{{ _('Move Date')}}</th>
                    <th>{{ _('Account')}}</th>
                    <th colspan="2" style="text-align: right;">{{ _('NIF')}}</th>
                    <th>{{ _('Invoice')}}</th>
                    <th>{{ _('Date')}}</th>
                    <th>{{ _('Base')}}</th>
                    <th colspan="2">{{ _('Tax')}}</th>
                    <th>{{ _('Base + Tax')}}</th>
                    <th>{{ _('Total Invoice')}}</th>
                </tr>
                </thead>
        {% endif %}
        <tr>
            <td colspan="11" style="text-align: left !important;padding-left: 35px !important;" class="bold">{{ k.name }}</td>
        </tr>
        {% set record = data['records'][k] %}
        {% if not data['parameters']['totals_only'] %}
            {{ show_detail_lines(record) }}
        {% endif %}
        <tr class="bold">
            <td colspan="6" class="right">{% if data['parameters']['jump_page'] %} {{ _('Total Period') }} {% else %} {{ _('Total') }} {% endif %} {{k.name}}</td>
            <td style="text-align: right;">{{data['parameters']['tax_totals'][k]['total_untaxed'] | render(digits=record[0].invoice.company.currency.raw.digits)}}</td>
            <td></td>
            <td style="text-align: right;">{{data['parameters']['tax_totals'][k]['total_tax'] | render(digits=record[0].invoice.company.currency.raw.digits)}}</td>
            <td style="text-align: right;">{{data['parameters']['tax_totals'][k]['total'] | render(digits=record[0].invoice.company.currency.raw.digits)}}</td>
            <td></td>
        </tr>
        {% if data['parameters']['jump_page'] %}
            {% if loop.nextitem is not defined %}
                <tr class="bold">
                    <td colspan="6" class="right"> {{ _('Total') }}</td>
                    <td style="text-align: right;">{{ data['parameters']['totals']['total_untaxed'] | render(digits=record[0].invoice.company.currency.raw.digits)}}</td>
                    <td></td>
                    <td style="text-align: right;">{{ data['parameters']['totals']['total_tax'] | render(digits=record[0].invoice.company.currency.raw.digits)}}</td>
                    <td style="text-align: right;">{{ data['parameters']['totals']['total'] | render(digits=record[0].invoice.company.currency.raw.digits)}}</td>
                    <td></td>
                </tr>
            {% endif %}
        {% endif %}
    </table>
    {%if data['parameters']['jump_page'] %}
        {% if loop.nextitem is defined %}
            <p style="page-break-before: always" ></p>
        {% endif %}
    {% endif %}
{% endfor %}
