<style>
@page {
  size: A4 landscape;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1cm;
  padding-left: 0.5cm;
  text-align: left;
  font-size: 9px;
  width: 100%;
  font-family: 'Arial';
}
</style>

<header id="header">
    <table>
        <thead>
        <tr>
            <td style="font-style: italic;font-size: 14px;font-weight: bold;">
                {{ data['parameters']['company_rec_name']}}
            </td>
            <td class="center" style="width:60%;text-align: center;font-size: 15px;">
                <h1 style="font-size:20px">{% if data['parameters']['jump_page'] %}{{ _('Taxes By Invoice and Period') }}{% else %}{{ _('Taxes By Invoice') }}{% endif %}</h1>
            </td>
            <td style="text-align: right;">
                {{ time|render }}
            </td>
        </tr>
        </thead>
    </table>

    <table>
        <tbody>
        {% if data['parameters']['start_date'] %}
            <tr>
                <td colspan="2" style="text-align: right;">{{ _('Initial posting date: ')}} {{ data['parameters']['start_date'] }}</td>
            </tr>
            <tr>
                <td>{{ _('Fiscal Year') }}: {{ data['parameters']['fiscal_year']}} {% if data['parameters']['periods'] %}{{ _('Periods:') }} {{data['parameters']['periods']}} {% else %}{{ _('All Periods') }}{% endif %}</td>
                <td style="text-align: right;">{{ _('Final posting date: ') }} {{ data['parameters']['end_date'] }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">{{ _('Fiscal Year') }}: {{ data['parameters']['fiscal_year']}} {% if data['parameters']['periods'] %}{{ _('Periods:') }} {{data['parameters']['periods']}} {% else %}{{ _('All Periods') }}{% endif %}</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2">{% if data['parameters']['parties'] %}{{ _('Parties: ') }}{{ data['parameters']['parties']}}{% else %}{{ _('All Parties') }}{% endif %}</td>
        </tr>
        <tr>
            <td colspan="2"><small>{{ _('Cancelled invoices are shown in gray and those without a cancel move or a cancel move not related to an invoice are not added to the total.') }}</small></td>
        </tr>
        </tbody>
    </table>
</header>
