<style>
@page {
  size: A4 landscape;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1cm;
  padding-left: 0.5cm;
  text-align: left;
  font-size: 9px;
  width: 100%;
  font-family: 'Arial';
}
</style>

<header id="header">
    <table>
        <thead>
        <tr>
            <td style="font-style: italic;font-size: 14px;font-weight: bold;">
                {{ data['parameters']['company']}} <br>
                {{ _('VAT') }}: {{ data['parameters']['company_vat'] }}
            </td>
            <td class="center" style="width:60%;text-align: center;font-size: 15px;">
                <h1 style="font-size:20px">{{ _('General Ledger') }}</h1>
            </td>
            <td style="text-align: right;">
                {{ time|render }}
            </td>
        </tr>
        </thead>
      </table>

      <table>
          <tbody>
          <tr>
              <td>
                {% if data['parameters']['start_date'] %}
                  <p>{{ _('Start Date') }}: {{ data['parameters']['start_date'] }} {{ _('End Date') }}: {{ data['parameters']['end_date'] }}</p>
                {% else %}
                  <p>{{ _('Fiscal Year') }}: {{ data['parameters']['fiscal_year'] }}
                  {% if data['parameters']['start_period'] %} {{ _('Start Period') }}: {{ data['parameters']['start_period'].name|render }}{% endif %}
                  {% if data['parameters']['end_period'] %} {{ _('End Period') }}: {{ data['parameters']['end_period'].name|render }}{% endif %}</p>
                {% endif %}
                {% if data['parameters']['parties'] %}{{ _('Parties') }}: {{ data['parameters']['parties'] }}{% else %}{{ _('All Parties' )}}{% endif %}<br/>
                {% if data['parameters']['accounts'] %}{{ _('Accounts') }}: {{ data['parameters']['accounts'] }}{% else %}{{ _('All Accounts' )}}{% endif %}
              </td>
          </tr>
          <tr>
              <td>
                <p>{{ _("When move number is between parentheses it means that it has no post number and the number shown is the provisional one.") }}<br/>
              </td>
          </tr>
          </tbody>
      </table>
</header>
